
<div id="map-canvas"></div>
<h1 id="chicago">chicago pulse</h1>

  <div id='column_stable'>
    <div id="timemode"></div>
     <div id="feed"></div>
      <div id="instafeed">
        <div id="centerer"> 
          <div id="column1"></div>
          <div id="column2"></div>
          <div id="column3"></div>
        </div> 
      </div>     


  <footer id ="bottom">
    <div class="power">powered by:</div>
    
    <div class="twitter-logo">
      <a href="http://twitter.com/"><img src="https://abs.twimg.com/a/1382083649/images/resources/twitter-bird-light-bgs.png"></a>
    </div>
    
    <div class="instagram-logo">
      <a href="http://instagram.com/"><img src="http://i.minus.com/izuhh4tjxc6Ko.png"></a>
    </div>
    
    <div class="cta-logo">
      <a href="http://transitchicago.com"><img id="cta-logo" src="http://i.minus.com/ifeN9qw2al90k.png"></a>
    </div>
  
    <div class="divvy-logo">
      <a href="http://divvy.com"><img id="divvy-logo" src="http://i.minus.com/ibzAkEShKINb4e.png"></a>
    </div>
  
    <div class="eventful-badge eventful-small">
      <a id="eventful" href="http://eventful.com/"><img src="http://api.eventful.com/images/powered/eventful_58x20.gif" alt="Local Events,   Concerts, Tickets"></a>
    </div>
  </footer>
</div>

