<!DOCTYPE html>
<html>
<head>
  <title>Chicageaux</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
   <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIVdH4Z2UHtUUD4WzR6fQoW2ykiJ6iPeI&sensor=true">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(41.8929153,-87.6359125),
          zoom: 12,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
      }

    //   $.post('/', latitudeLongitudeData, function(response){
    //   parkingData = [];
    //   displayResponseToTickets(response);
    // });
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>
<body>

<%= yield %>

</body>
</html>
