<!DOCTYPE html>
<html>
<head>
  <title>Chicageaux</title>
  <%= csrf_meta_tags %>
   <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIVdH4Z2UHtUUD4WzR6fQoW2ykiJ6iPeI&sensor=true">
    </script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</head>
<body>

<%= yield %>

</body>
</html>
